.hero-box{
	height: 500px;
}

.hero-box-overlay{
	background-color: rgba(0, 0, 0, 0.5)
}

.portfolio-overlay{
	background-color: rgba(0, 0, 0, 0.5);
}

.d-block{
	border-radius: 50%;
}

.fa-color{
	color: white;
}

.cards{
	border-radius: 15px;
}